<div class="sidebar" id="sidebar">
    <button class="toggle-btn" id="toggle-btn">
      <span class="icon" id="toggleSlide">❌</span>
      <span class="text">☰</span>
    </button>
    <div class="menu">
      <div class="menu-item" id="details-btn">
        <span class="icon"><img src="/src/icons/file.png" /> </span>
        <span class="text">Details</span>
      </div>
      <div class="menu-item" id="all-mails">
        <span class="icon"><img src="/src/icons/spam.png" /></span>
        <span class="text">Spam mails</span>
      </div>
      <div class="menu-item" id="with-admin">
        <span class="icon"><img src="/src/icons/dispute.png" /></span>
        <span class="text">Dispute mail</span>
      </div>
      <div class="menu-item" id="activity-btn">
        <span class="icon"><img src="/src/icons/activity.png" /></span>
        <span class="text">Activity</span>
      </div>
      <div class="menu-item" id="dispute-btn">
        <span class="icon"><img src="/src/icons/dispute-icon.png" /></span>
        <span class="text">Dispute</span>
      </div>
    </div>
  </div>
  