.chart-container {
  display: flex;
  align-items: flex-end;
  justify-content: space-around;
  width: 355px;
  height: 355px;
  background-color: #f8f8f8;
  border-bottom: 2px solid black;
  position: relative;
}

.y-axis-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 356.5px;
  border-right: 2px solid black;
  padding-right: 10px;
}

.chart-wrapper {
  display: flex;
  margin-top: 50px;
}

.bar-container {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 20px;
}

.bar-value {
  font-weight: bold;
  margin-bottom: 5px;
}

.bar {
  width: 53px;
  border-radius: 5px 5px 0 0;
}

.bar-label {
  font-size: 12px;
  margin-bottom: 2px;
}
