<!-- This is the html file for the email page not found component
this component will be displayed when the user is not on an email page
the user will be prompted to open Gmail, Outlook, or Yahoo Mail -->

<div class="content">
  <div id="data-output" class="not-email-message">
    <div>
      <div class="icon-large">✉️</div>
      <h3>This is not an Email page</h3>
      <p>Please open Gmail, Outlook, or Yahoo Mail to use this extension.</p>
    </div>
    <!-- Email Icons Section -->
    <div class="email-icons">
      <div class="email-icon" id="gmail-icon">
        <img src="../../icons/gmail.png" alt="Gmail" class="icon-img" />
        <p class="service-name">Gmail</p>
      </div>
      <div class="email-icon" id="outlook-icon">
        <img src="../../icons/outlook.png" alt="Outlook" class="icon-img" />
        <p class="service-name">Outlook</p>
      </div>
      <div class="email-icon" id="yahoo-icon">
        <img src="../../icons/yahoo.png" alt="Yahoo" class="icon-img" />
        <p class="service-name">Yahoo</p>
      </div>
    </div>
  </div>
</div>
