body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f4f4f4;
}

.container {
  width: 550px;
  height: 600px;
  display: flex;
  transition: all 0.3s ease-in-out;
}

.content {
  flex-grow: 1;
  padding: 20px;
  background-color: #fff;
  overflow-y: scroll;
  transition: margin-left 0.3s ease-in-out;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  scrollbar-gutter: stable;
  overflow-y: overlay;
}

.content.collapsed {
  margin-left: 60px;
}

#data-output {
  margin-top: -35px;
}

#errorDisplay {
  margin-top: 20px;
  font-size: 14px;
  color: #d9534f;
}

#noDataFound {
  margin-top: 20px;
  font-size: 14px;
  text-align: center;
  font-weight: 600;
}

#choose-email {
  margin-top: 20px;
  font-size: 20px;
  text-align: center;
  font-weight: 500;
}

.loader-container {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1000;
}
