<!-- <!DOCTYPE html>
<html>
  <head>
    <title>HTML Scraper</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width,initial-scale=1" />
    <link rel="stylesheet" type="text/css" href="../../style/style.css" />
  </head>
  <body style="width: 500px; height: 550px">
    <span id="userEmail"></span>
    <div class="button-container">
    </div>
    <script src="./popup.js"></script>
  </body>
</html> -->

<!DOCTYPE html>
<html lang="en">
  <!-- <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=550, height=500, initial-scale=1.0" />
    <title>Phishing Mails Dashboard</title>
    <link rel="stylesheet" href="./popup.css" />
    <style>
      main {
        padding-top: 70px;
      }
    </style>
  </head> -->
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=550, height=500, initial-scale=1.0" />
    <title>Phishing Mails Dashboard</title>
    <link rel="stylesheet" href="../popup/popup.css" />
    <style>
      main {
        padding-top: 70px;
        /* Adjust padding to prevent overlap with line */
      }
    </style>
  </head>

  <body>
    <div class="container" style="max-width: 550px; margin: 0 auto">
      <div id="sidebar-container"></div>
      <div class="content" id="content">
        <div id="header-container"></div>
        <main>
          <div id="data-output"></div>
          <div id="errorDisplay"></div>
          <div id="noDataFound"></div>
          <div id="choose-email"></div>
          <div id="loader" style="display: none">Loading...</div>
        </main>
        <div id="footer-container"></div>
      </div>
    </div>
    <script src="./popup.js"></script>
  </body>
</html>