<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=550, height=500, initial-scale=1.0" />
    <title>Phishing Mails Dashboard</title>
    <link rel="stylesheet" href="../popup/popup.css" />
    <style>
      main {
        padding-top: 90px;
      }
    </style>
  </head>
  <body>
    <div class="container" style="max-width: 550px; margin: 0 auto">
      <div id="sidebar-container"></div>
      <div class="content" id="content">
        <div id="header-container"></div>
        <main>
          <div id="data-output"></div>
          <div id="errorDisplay"></div>
          <div id="noDataFound"></div>
          <div id="choose-email"></div>
          <div id="loader-container"></div>
        </main>
        <div id="footer-container"></div>
      </div>
    </div>
    <script type="module" src="./popup.js"></script>
  </body>
</html>
